{% extends "base_site.html"  %}
{% block content %}

{% if object_list %}
    <ul>
    {% for article in object_list %}
        <li><a href="{% url 'article-detail' article.id %}">{{ article.article_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No articles are available.</p>
{% endif %}

{% endblock %}