

{% extends "base_site.html"  %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'xblog/img.css' %}" />
	<p> {{article.author.username}} posted at {{article.pub_date}}: </p>
   <p>{{ article.article_text }}</p>
   <img src="{% static "/xblog/"|add:article.image.url %}"/>
   {%if comment_list%}
   <div> Comments: </div>
   	<ul>
	{% for c in comment_list %}
		{% include 'xblog/comment_block.html' with comment=c %}
	{%endfor%}
	</ul>   
	{%endif%}
<form action="{% url 'comment-add' %}" method="post" >
    {% csrf_token %}
    {{create_comment_form.as_p}}
    <input type="submit" value="Post" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}