{% extends "base_site.html"  %}
{% block content %}

{% if form.errors %}
<p>{{form.errors}}</p>
{% endif %}


<form action="{% url 'article-add' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Post" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}