{% extends "base.html" %}

{% block title %}{{ title }} | {{ 'Blog application' }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a  href="{# url 'admin:index' #}" >{{ 'Blog application' }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}